/* CSS Document */

tbody,
th{
	border: none;
	padding: inherit;
	text-align: inherit;
}

.mean-container a.meanmenu-reveal{ text-indent: 0 !important; }

.element-invisible,
.element-focusable{ left: 0; }